<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.univers7.ultra_instinct">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AllMatchesActivity"
            android:label="@string/title_activity_all_matches"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayersActivity"
            android:label="@string/title_activity_players"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreviousMatchesActivity"
            android:label="@string/title_activity_previous_matches"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllMatchesDetailsActivity"
            android:label="@string/title_activity_all_matches_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayersDetailsActivity"
            android:label="@string/title_activity_players_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreviousMatchesDetailsActivity"
            android:label="@string/title_activity_previous_matches_details"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddMatchActivity"
            android:label="Création d&apos;un match"
            android:parentActivityName=".AllMatchesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:label="Insertion d&apos;un joueur"
            android:parentActivityName=".PlayersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditMatchActivity"
            android:label="Gérer le combat"
            android:parentActivityName=".AllMatchesDetailsActivity" />
        <activity
            android:name=".StatsActivity"
            android:label="Statistiques du combat"
            android:parentActivityName=".AllMatchesDetailsActivity" />
        <activity android:name=".TakePhotoActivity"></activity>
    </application>

</manifest>